
body {
    padding: 50px;
}

tr{
    text-align: center;
    cursor: pointer;
}

a {
    padding: 8px 14px;
    border: 2px solid green;
    text-decoration:none;
}

a:hover {
    background-color: gray;
    color: yellow;
}